match /{{collectionPath}}/{{=<% %>=}}<%#isWildCard%>{<%/isWildCard%><%={{ }}=%>{{documentName}}{{#isWildCardRecursive}}=**{{/isWildCardRecursive}}{{#isWildCard}}}{{/isWildCard}} {
{{#rules}}
  {{.}}
{{/rules}}

{{#children}}
  {{> match}}

{{/children}}
}