rules_version = '2';

service cloud.firestore {
  match {{topLevelMatchPath}} {
    {{#matches}}
    {{> match}}

    {{/matches}}

    {{#customFunctions}}
    {{.}}
    {{/customFunctions}}
    function getOr(request, field, alt) {
      return request.resource.data.get(field, alt);
    }
  }
}